.containerHome {
    background-image: url("../../assets/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height:2800px;
    background-attachment: fixed;
    background-size:cover;
    
}

.containerCard{
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
}

.containerFilter {
    display:flex;
    justify-content: center;
    background:transparent;
    margin-left: 1rem;
    text-decoration: none;
    
}

.containerOption{
    display: flex;
    align-items: center;
    color:#a7a7a7;
    background:transparent;
    border:none;
    width:7rem;
    height:1rem;
    font-size:1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:1px 0px 10px #fff;
    text-decoration: none;
    


}